.charName {
    font-family: 'Times New Roman', Times, serif, Times, Georgia;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #444
}

p {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fancy {
    margin-top: 20px;
    margin-right: 20px;
    width: auto;
    height: auto;
    padding: 5px;
    border: 1px solid gray;
    border-style: ridge;
    background: whitesmoke;
}

.style-three {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    }

.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
    }